### Input Output statements:
1. print()
2. input()

In [7]:
print("Good Morning all")

Good Morning all

In [8]:
num1 = 100
num2 = 200
print(num1,num2)

100 200

In [9]:
#default value for sep is " "
print(100,200,300,400,500)

100 200 300 400 500

In [16]:
#changing sep value ' $ '
print(100,200,300,400,500,sep=" @ ")

100 @ 200 @ 300 @ 400 @ 500

In [15]:
#changing end value to some other character
#By default end value is "\n"
print(100,end="@")
print(200,end="$")
print(300,end="@")
print(400,end="!")
print(500,end="*")

100@200$300@400!500*

In [18]:
#input() by default accepts value as string
num1 = int(input("Enter num1 value:"))
num2 = int(input("Enter num2 value:"))
print(num1 + num2)
print(num1 - num2)

Enter num1 value:100
Enter num2 value:200
300
-100

### Question-1
```
You have the following data.
totalMoney = 1000
quantity = 3
price = 450

display above data in this format
I have 1000 dollars so I can buy 3 footballs for 450 dollars.
```

In [19]:
TotalMoney=1000
quantity=3
price=450

In [20]:
#First way:
print("I have",TotalMoney,"dollars so I can buy",quantity,"footballs for",price,"dollars")

I have 1000 dollars so I can buy 3 footballs for 450 dollars

In [21]:
#Second way : format operator(%)
print("I have %d dollars so I can buy %d footballs for %d dollars."%(TotalMoney,quantity,price))

I have 1000 dollars so I can buy 3 footballs for 450 dollars.

In [22]:
#Third way:
print(f'I have total {TotalMoney} dollars so i can buy {quantity} footballs for {price} dollars')

I have total 1000 dollars so i can buy 3 footballs for 450 dollars

In [29]:
#Fourth way:
print("I have {} dollars so I can buy {} footballs for {} dollars".format(TotalMoney,quantity,price))

I have 1000 dollars so I can buy 3 footballs for 450 dollars

### Question-2
```
Display “My Name Is Preeti” as “My**Name**Is**Preeti” 
```

In [32]:
print('My','Name','Is','preethi',sep="**" )

My**Name**Is**preethi

### Basic Operators

In [33]:
10 + 20#magic methods --> __add__

30

In [34]:
20 - 10 # __sub__()

10

In [36]:
"Abc" + "xyz"

'Abcxyz'

In [37]:
"Abc" - "xyz"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [43]:
#Arithmetic operator : +,-,*,/,%(modulus),**(exponent),//(Floor division)
x = 25
y = 4
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)

29
21
100
6.25
1
390625
6

In [46]:
#comparision operator : <,<=,>,>=,==,!=
#Return type --> Boolean
print(x < y)
print(x <= y)
print(x > y)
print(x >= y)
print(x == y)
print(x != y)

False
False
True
True
False
True

In [47]:
#Assignment operators : +=,-=,*=,/=,%=,**=,//=
x = 100
print("Before using assignment operator value of x is:",x)
x += 50 #x = x + 50
print("After using assignment operator value of x is:",x)

Before using assignment operator value of x is: 100
After using assignment operator value of x is: 150

### Number conversions

In [48]:
#dec --> binary conversion
bin(60)

'0b111100'

In [49]:
#dec --> octal conversion
oct(25)

'0o31'

In [50]:
#dec --> hex conversion 
hex(45)

'0x2d'

In [51]:
#binary --> dec conversion
int(0b111100)

60

In [52]:
#binary --> dec conversion
int('111100',2)

60

In [53]:
#octal --> dec conversion
int('31',8)

25

In [79]:
#hex --> dec conversion
int('52',16)

82

In [61]:
#Bitwise operators : &,|,^,~,<<,>>
a = 60
b = 13
# a=60🡺 0011  1100
# b=13🡺 0000  1101
print(a & b)#0000 1100
print(a | b)#0011 1101
print(a ^ b)#0011 0001
print(~a) # -(a)-1 = -60-1 = -61
print(a << 2)# 1111 0000
print(a >> 2)# 0000 1111

12
61
49
-61
240
15

In [57]:
int('00110001',2)

49

In [63]:
#Logical operators : and,or,not --> return type is boolean
#num is divisible by 3 and 5 or not
num = int(input("Enter a number"))
if num%3 == 0 and num%5 == 0:
    print("Number is divisible by 3 and 5")
else:
    print("Number is not divisible by 3 or 5")

Enter a number15
Number is divisible by 3 and 5

In [65]:
num = int(input("Enter a number"))
if num%3 == 0 or num%5 == 0:
    print("Number is divisible by 3 or 5")
else:
    print("Number is not divisible by 3 and 5")

Enter a number15
Number is divisible by 3 or 5

In [67]:
not(10 > 5)

False

In [70]:
#Membership operators: in,not in
arr = [10,25,45,50,12,36]
print(50 in arr)
print(100 in arr)
print(50 not in arr)
print(100 not in arr)

True
False
False
True

In [73]:
#Identity Operators:is,is not
a = 10
b = 20
c = 10
print(id(a),id(b),id(c))
print(a is b)
print(a is c)
print(a is not b)
print(a is not c)

140735731504224 140735731504544 140735731504224
False
True
True
False

In [74]:
#Combination of identity and logical operators
if (a is b) and (a is c):
    print("a b and c are pointing to the same obj")
else:
    print("a b and c are not pointing to the same obj")

a b and c are not pointing to the same obj

In [75]:
#Traditional way
#without using Conditional (or) Ternary operators:
if (a is b):
    print("a b are pointing to the same obj")
else:
    print("a b are not pointing to the same obj")

a b are not pointing to the same obj

In [76]:
#using ternary operator
print("a b are pointing to the same obj") if (a is b) else print("a b are not pointing to the same obj")

a b are not pointing to the same obj

### Finding maximum of two numbers using ternary operator

In [77]:
num1 = int(input("Enter num1 value:"))
num2 = int(input("Enter num2 value:"))
print("num1 is max") if(num1>num2) else print("num2 is max")

Enter num1 value:12
Enter num2 value:25
num2 is max