### String Built-in Methods

In [7]:
#Three strings creation
s1 = "python"
s2 = "abc123"
s3 = "123"

In [8]:
#capitalize()
s = s1.capitalize()
print(s)

Python

In [9]:
#center()
s1.center(20,"@")

'@@@@@@@python@@@@@@@'

In [12]:
#count()
s = "preeti teee see"
s.count('ee')

3

In [13]:
#find()
print(s.find("ee"))
#index()
print(s.index("ee"))

2
2

In [14]:
print(s.find("fee"))
print(s.index("fee"))

-1

ValueError: substring not found

In [15]:
s1 = "python"
s2 = "abc123"
s3 = "123"

In [16]:
#isalpha()
print(s1.isalpha())
print(s2.isalpha())
print(s3.isalpha())

True
False
False

In [17]:
#isdigit()
print(s1.isdigit())
print(s2.isdigit())
print(s3.isdigit())

False
False
True

In [19]:
#isalnum() --> alphabets or numbers
s = "python programming"
print(s1.isalnum())
print(s2.isalnum())
print(s3.isalnum())
print(s.isalnum())

True
True
True
False

In [20]:
s1 = "python"
s2 = "PYTHON"
s3 = 'PyThOn'

In [22]:
#islower()
print(s1.islower())
print(s2.islower())
print(s3.islower())

True
False
False

In [23]:
#isupper()
print(s1.isupper())
print(s2.isupper())
print(s3.isupper())

False
True
False

In [24]:
s1 = "python"
s2 = "PYTHON"
s3 = 'PyThOn'

In [25]:
#lower()
print(s1.lower())
print(s2.lower())
print(s3.lower())

python
python
python

In [27]:
#upper()
print(s1.upper())
print(s2.upper())
print(s3.upper())

PYTHON
PYTHON
PYTHON

In [28]:
#swapcase()
print(s1.swapcase())
print(s2.swapcase())
print(s3.swapcase())

PYTHON
python
pYtHoN

In [30]:
#replace() 
s = "python"
s[2] = 'z'
print(s)

TypeError: 'str' object does not support item assignment

In [31]:
#replace()
string = s.replace('t','z')
print(string)

pyzhon

In [32]:
#split()--> default delimeter is space(" ")
s = "I am Preeti"
s.split()

['I', 'am', 'Preeti']

In [33]:
#changing delimeter to "," 
flowers = "Rose,Lilly,Jasmine"
flowers.split(",")

['Rose', 'Lilly', 'Jasmine']

In [34]:
#converting string to list
name = "Arpit"
list(name)

['A', 'r', 'p', 'i', 't']

In [40]:
#startswith()
name1 = "k preeti"
name2 = "k mounika"
name3 = "Niraj sharma"
print(name1.startswith("k"),name2.startswith("k"),name3.startswith("k"))
#endswith()
print(name1.endswith("a"),name2.endswith("a"),name3.endswith("a"))

True True False
False True True

In [42]:
#strip(),lstrip(),rstrip()
s = "  preeti  "
print(s.strip())
print(s.lstrip())
print(s.rstrip())

preeti
preeti
  preeti

### List

In [43]:
list1 = [10,45,20.45,"string",True]

In [45]:
print(type(list1))

<class 'list'>

In [46]:
#Slicing operations
print(list1[2])#20.45
print(list1[2:])#20.45,"string",True
print(list1[::2])#10,20.45,True
print(list1[::-1])#reverse

20.45
[20.45, 'string', True]
[10, 20.45, True]
[True, 'string', 20.45, 45, 10]

In [47]:
#concatenation
list2 = [10,20,30,40,50]
list1 + list2

[10, 45, 20.45, 'string', True, 10, 20, 30, 40, 50]

In [48]:
#repitition
list2 * 3

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [49]:
#Membership operators
print(100 in list2)
print(100 not in list2)

False
True

In [50]:
#for loop with list
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [51]:
list2

[10, 20, 30, 40, 50]

In [54]:
for element in list2:
    print(element)

10
20
30
40
50

In [53]:
for charcter in "preeti":
    print(charcter,end=" ")

p r e e t i

### Built-in List methods
### Adding elements
1. append()
2. insert()
3. extend()
### Removing elements
4. pop() --> index
5. remove() --> element
6. clear()
### other methods
7. count()
8. index()
9. reverse()
10. sort()
11. copy()

In [55]:
list1 = [10,20,30]

In [57]:
#append()
list1.append(40)
list1

[10, 20, 30, 40]

In [58]:
list1.append(50)
list1

[10, 20, 30, 40, 50]

In [59]:
#insert()
list1.insert(2,100)
list1

[10, 20, 100, 30, 40, 50]

In [60]:
#extend()
list1.extend([60,70,80,90])
list1

[10, 20, 100, 30, 40, 50, 60, 70, 80, 90]

In [61]:
#pop() --> default index is -1
list1.pop()
list1

[10, 20, 100, 30, 40, 50, 60, 70, 80]

In [62]:
list1.pop(2)
list1

[10, 20, 30, 40, 50, 60, 70, 80]

In [63]:
#remove()
list1.remove(80)
list1

[10, 20, 30, 40, 50, 60, 70]

In [64]:
list1.remove(100)

ValueError: list.remove(x): x not in list

In [65]:
#clear()
list1.clear()
list1

[]

In [66]:
list1 = [10,20,30,40,50,20,78,20]

In [67]:
#count()
list1.count(20)

3

In [68]:
#index()
list1.index(78)

6

In [69]:
list1

[10, 20, 30, 40, 50, 20, 78, 20]

In [70]:
#reverse()
list1.reverse()

In [71]:
list1

[20, 78, 20, 50, 40, 30, 20, 10]

In [72]:
#sort() --> By default Ascending
list1.sort()
list1

[10, 20, 20, 20, 30, 40, 50, 78]

In [73]:
#Descending
list1.sort(reverse=True)
list1

[78, 50, 40, 30, 20, 20, 20, 10]

In [75]:
#copy()
list1 = [20, 78, 20, 50, 40, 30, 20, 10]
list2 = list1.copy()
list3 = list1
print(list1,list2,list3,sep="\n")

[20, 78, 20, 50, 40, 30, 20, 10]
[20, 78, 20, 50, 40, 30, 20, 10]
[20, 78, 20, 50, 40, 30, 20, 10]

In [76]:
list1.append(100)

In [77]:
print(list1,list2,list3,sep="\n")

[20, 78, 20, 50, 40, 30, 20, 10, 100]
[20, 78, 20, 50, 40, 30, 20, 10]
[20, 78, 20, 50, 40, 30, 20, 10, 100]

In [79]:
#create a list with some elements and print only even numbers of the list
# Input : size of the list,insert that element
# Output : 10 36 98 12
size = int(input("Enter size of a list:"))
list1 = []
#Inserting elements into list
for i in range(size):
    list1.append(int(input("Enter a number:")))
print(list1)    
#checking for numbers in list
for ele in list1:
    if ele % 2 == 0:
        print(ele,end=" ")

Enter size of a list:5
Enter a number:10
Enter a number:20
Enter a number:25
Enter a number:41
Enter a number:63
[10, 20, 25, 41, 63]
10 20

### Tuple:
1. use ()
2. Immutable
3. Indexed
4. Ordered
5. Allows duplicate values

In [80]:
tup1 = (10,2.5,"preeti")

In [81]:
print(type(tup1))

<class 'tuple'>

### Built-in methods
1. index()
2. count()

In [82]:
tup1.index(2.5)

1

In [83]:
tup1.count(10)

1

In [84]:
#Packing
x = 10,20,30
print(type(x))

<class 'tuple'>

In [85]:
print(x)

(10, 20, 30)

In [88]:
#Unpacking
a,b,c = x
print(a,b,c)

10 20 30

### set
1. Use { }
2. Mutable
3. Unindexed
4. Unordered
5. It doesnt allow duplicate

In [89]:
A = {10,20,30,40}
B = {40,50,60,70}

In [90]:
print(type(A),type(B))

<class 'set'> <class 'set'>

In [91]:
C = {10,20,30,10,20}

In [92]:
#Duplicate are not allowed
C

{10, 20, 30}

In [93]:
#Unindexed
C[2]

TypeError: 'set' object is not subscriptable

### Set Built-in methods

In [103]:
C

{10, 20, 30}

In [104]:
#add()
C.add(40)
print(C)

{40, 10, 20, 30}

In [105]:
C.add(50)
print(C)

{40, 10, 50, 20, 30}

In [111]:
#pop()
C.pop()

40

In [112]:
#remove()
C.remove(50)
C

{10, 20, 30}

In [113]:
C.remove(50)

KeyError: 50

In [114]:
#discard()
C.discard(50)

In [120]:
A = {10,20,30,40}
B = {40,50,60,70}
C = {10,20,30,40,50,60,70}

In [115]:
#union()
A.union(B)

{10, 20, 30, 40, 50, 60, 70}

In [116]:
#intersection()
A.intersection(B)

{40}

In [117]:
#A - B
A.difference(B)

{10, 20, 30}

In [118]:
#B - A
B.difference(A)

{50, 60, 70}

In [119]:
#A-B U B-A
A.symmetric_difference(B)

{10, 20, 30, 50, 60, 70}

In [121]:
#issubset()
print(A.issubset(B))
print(A.issubset(C))

False
True

In [122]:
#issuperset()
print(B.issuperset(A))
print(C.issuperset(A))

False
True

In [127]:
A = {10,20,30,40}
B = {40,50,60,70}

In [124]:
#intersection()
A.intersection(B)

{40}

In [125]:
A

{10, 20, 30, 40}

In [126]:
B

{40, 50, 60, 70}

In [128]:
#intersection_update()
A.intersection_update(B)

In [129]:
A

{40}

In [130]:
B

{40, 50, 60, 70}

In [131]:
#union_update
A.update(B)

In [132]:
A

{40, 50, 60, 70}

In [133]:
B

{40, 50, 60, 70}

In [135]:
#difference_update
A = {10,20,30,40}
B = {40,50,60,70}
A.difference_update(B)
print(A)
print(B)

{10, 20, 30}
{40, 50, 60, 70}

In [136]:
#symmetric_difference_update
A = {10,20,30,40}
B = {40,50,60,70}
A.symmetric_difference_update(B)
print(A)
print(B)

{70, 10, 50, 20, 60, 30}
{40, 50, 60, 70}

In [138]:
A = {10,20,30,40}
B = {40,50,60,70}
A.isdisjoint(B)

False